body {
  font-size: 14px;
  max-width: 100%;
  background-color: #fff; }

h2 {
  margin-bottom: 20px; }

.header {
  width: 100%;
  position: fixed;
  z-index: 1000;
  background-color: #f5f5f5;
  border-bottom: 1px solid #eaeaea; }
  .header .header-link {
    display: block;
    overflow: hidden;
    position: relative;
    color: #0e0e0e;
    font-size: 14px;
    cursor: pointer; }
  .header .header-icon {
    height: 60px;
    float: left;
    display: block;
    font-size: 18px;
    line-height: 20px;
    background: #fff;
    padding: 20px 26px 19px 26px;
    border-right: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea; }
  .header .header-text {
    float: left;
    height: 60px;
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    padding: 20px 20px 19px 20px;
    text-transform: uppercase; }

.menu {
  width: 200px;
  bottom: 0;
  float: left;
  left: 0;
  z-index: 999;
  position: fixed;
  top: 60px;
  margin-left: 0;
  background-color: #f5f5f5;
  transition: margin .4s ease 0s;
  border-right: 1px solid #eaeaea; }
  .menu .menu-user {
    font-weight: 700;
    text-align: center;
    padding: 30px 15px;
    background: #fff;
    border-bottom: 1px solid #eaeaea; }
  .menu > ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .menu > ul > li {
      border-bottom: 1px solid #eaeaea; }
      .menu > ul > li > a {
        width: 100%;
        color: #6a6c6f;
        outline: none;
        font-size: 12px;
        display: inline-block;
        text-transform: uppercase;
        font-weight: 700;
        padding: 15px 15px;
        background-color: #f7f9fa; }
        .menu > ul > li > a:hover {
          background: #fff;
          text-decoration: none; }

.wrapper {
  min-width: 1200px; }

.content {
  top: 60px;
  margin-left: 230px;
  position: relative;
  padding: 15px 0 40px 0; }

.ibox2 {
  padding: 15px;
  background: #fff;
  border: 1px solid #eaeaea; }

.specialist {
  max-width: 1200px; }
  .specialist td:last-child,
  .specialist th:last-child {
    width: 180px; }

.clients {
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  margin-bottom: 15px;
  border: 1px solid #ddd; }
  .clients .table {
    width: 100%;
    min-width: 1300px;
    margin-bottom: 0; }
    .clients .table td:nth-child(2) a {
      min-width: 130px;
      display: inline-block; }
  @media (min-width: 1600px) {
    .clients {
      overflow-y: auto;
      overflow-x: auto; } }

.user-diagnosis {
  width: 20%; }

.inner {
  max-width: 600px; }

.box {
  padding: 25px 15px 15px 15px;
  margin-bottom: 25px;
  background: #f5f5f5;
  border: 1px solid #eaeaea;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }
  .box h3 {
    padding: 0;
    font-size: 20px;
    margin: 0 0 15px 0; }

.ibox {
  margin-bottom: 25px;
  border: 1px solid #eaeaea; }
  .ibox .ibox-toggle {
    cursor: pointer; }
  .ibox.open {
    border: none; }
    .ibox.open .ibox-tools .fa-chevron-up {
      display: inline-block; }
    .ibox.open .ibox-tools .fa-chevron-down {
      display: none; }
    .ibox.open .table tbody > tr {
      display: table-row; }
    .ibox.open .ibox-title {
      margin-bottom: 15px;
      border-color: #18a689; }
    .ibox.open .ibox-content {
      display: block;
      padding-bottom: 20px; }
      .ibox.open .ibox-content .schedule {
        padding-bottom: 25px;
        border-bottom: 3px solid #bbb; }
  .ibox .ibox-tools {
    float: right;
    color: #9d9fa2; }
    .ibox .ibox-tools a {
      color: #9d9fa2;
      cursor: pointer;
      margin-left: 5px;
      text-decoration: none;
      display: inline-block; }
      .ibox .ibox-tools a:hover {
        color: #1c242b; }
    .ibox .ibox-tools .fa-chevron-up {
      display: none; }
    .ibox .ibox-tools .fa-chevron-down {
      display: inline-block; }
  .ibox .ibox-content {
    display: none; }
  .ibox .table {
    margin-bottom: 0; }
    .ibox .table td:first-child {
      padding-left: 0; }
    .ibox .table td:last-child {
      padding-right: 0; }
    .ibox .table thead {
      border-bottom: none; }
      .ibox .table thead th {
        padding-left: 0;
        padding-right: 0;
        border-bottom: none; }
    .ibox .table tbody > tr {
      display: none; }
      .ibox .table tbody > tr:first-child {
        display: table-row; }
  .ibox .ibox-title {
    background: #fff;
    padding: 10px 15px;
    position: relative;
    border: 1px solid #fff; }

.schedule {
  max-width: 1100px; }

.plan {
  overflow: hidden;
  position: relative; }
  .plan .plan-week {
    display: none; }
    .plan .plan-week.current {
      display: block; }
    .plan .plan-week .view-week {
      display: block; }
    .plan .plan-week .view-list {
      display: none; }
  .plan .plan-title {
    width: 180px;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    margin: 0 0 10px 0; }
  .plan .plan-head {
    margin: 0;
    position: relative; }
    .plan .plan-head .plan-nav {
      width: 180px;
      position: relative; }
      .plan .plan-head .plan-nav a {
        top: 0;
        color: #000;
        padding: 1px 2px;
        font-size: 18px;
        line-height: 18px;
        position: absolute;
        display: inline-block; }
        .plan .plan-head .plan-nav a.plan-prev {
          left: 0; }
        .plan .plan-head .plan-nav a.plan-next {
          right: 0; }
    .plan .plan-head .plan-switch {
      top: 0;
      right: 0;
      color: #000;
      position: absolute;
      text-decoration: underline; }
      .plan .plan-head .plan-switch .plan-switch-week {
        display: none; }
      .plan .plan-head .plan-switch .plan-switch-list {
        display: inline; }
      .plan .plan-head .plan-switch.switch .plan-switch-week {
        display: inline; }
      .plan .plan-head .plan-switch.switch .plan-switch-list {
        display: none; }
  .plan.switch .plan-week .view-week {
    display: none; }
  .plan.switch .plan-week .view-list {
    display: block; }

.week-table {
  width: 100%;
  background: #fff; }
  .week-table td,
  .week-table th {
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #ddd; }
    .week-table td.date-current,
    .week-table th.date-current {
      background: #fff5a3; }
  .week-table a {
    color: #000;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    display: inline-block;
    text-decoration: none; }
  .week-table td {
    text-align: center;
    position: relative; }
    .week-table td.course:before {
      top: -1px;
      left: 0;
      right: -1px;
      bottom: -1px;
      z-index: 2;
      content: '';
      position: absolute;
      border-top: 1px solid green;
      border-bottom: 1px solid green; }
    .week-table td.course.first:before {
      left: -1px;
      border-left: 1px solid green; }
    .week-table td.course.last:before {
      border-right: 1px solid green; }
    .week-table td a {
      z-index: 10;
      position: relative;
      background: #dbdbdb; }
      .week-table td a.plan-success {
        background: #8bfd98; }
      .week-table td a.plan-cancel {
        background: #ff4b4b; }
      .week-table td a.plan-new {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        background: transparent;
        border: 1px solid transparent; }
        .week-table td a.plan-new:hover {
          border-color: #f5f5f5;
          background: #f5f5f5; }
    .week-table td .plan-weekend {
      color: #fff;
      width: 100%;
      height: 100%;
      padding: 5px;
      background: #676767;
      display: inline-block; }
    .week-table td:nth-child(9), .week-table td:nth-child(10) {
      background: #f5f5f5; }
  .week-table .week-head th {
    padding: 5px;
    text-align: center; }
    .week-table .week-head th span {
      display: block; }
    .week-table .week-head th:nth-child(9), .week-table .week-head th:nth-child(10) {
      background: #f5f5f5; }
  .week-table .week-content th {
    font-weight: 400; }

.list-table {
  width: 100%;
  background: #fff; }
  .list-table tr.date-current th {
    background: #929200; }
  .list-table tr.date-current td {
    background: #fff5a3; }
  .list-table .list-head th {
    padding: 10px;
    overflow: hidden;
    position: relative;
    background: #cccccc; }
    .list-table .list-head th .week-day {
      float: left; }
    .list-table .list-head th .week-date {
      float: right; }
  .list-table td,
  .list-table th {
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #ddd;
    vertical-align: middle; }
  .list-table a {
    color: #000;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    display: inline-block;
    text-decoration: none; }
  .list-table .weekend {
    color: #000;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: inline-block;
    text-decoration: none; }
  .list-table td:nth-child(2) {
    padding: 8px 10px;
    text-align: center; }
  .list-table .plan-status {
    background: #ccc;
    width: 100px;
    padding: 3px 10px;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px; }
    .list-table .plan-status.plan-success {
      background: #8bfd98; }
    .list-table .plan-status.plan-cancel {
      background: #ff4b4b; }
    .list-table .plan-status.plan-weekend {
      color: #fff;
      padding: 10px;
      background: #676767;
      display: inline-block; }

.modal-box {
  padding: 30px 50px;
  width: 420px; }
  .modal-box .modal-title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 15px; }
    .modal-box .modal-title span {
      display: block; }
  .modal-box .form-group-title {
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    display: block;
    margin-bottom: 10px; }
  .modal-box .form-label {
    font-weight: 400;
    display: inline-block; }

.fancybox-caption-wrap {
  display: none !important; }

.xdsoft_datetimepicker {
  z-index: 99999 !important; }

.form-sm {
  width: 100px;
  margin-left: auto;
  margin-right: auto; }

.top-bar {
  max-width: 600px;
  margin: 0 -10px 30px -10px; }
  .top-bar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: table;
    width: 100%; }
    .top-bar ul li {
      padding: 0 10px;
      display: table-cell;
      vertical-align: top; }

/*# sourceMappingURL=main.css.map */
