// Core variables and mixins
@import "var";
@import "mixins/vendor-prefixes";

body {
	font-size: 14px;
	max-width: 100%;
	background-color: #fff;

}

h2 {
	margin-bottom: 20px;
}


.header {
	width: 100%;
	position: fixed;
	z-index: 1000;
	background-color: #f5f5f5;
	border-bottom: 1px solid #eaeaea;

	.header-link {
		display: block;
		overflow: hidden;
		position: relative;
		color: #0e0e0e;
		font-size: 14px;

		cursor: pointer;

	}

	.header-icon {
		height: 60px;
		float: left;
		display: block;
		font-size: 18px;
		line-height: 20px;
		background: #fff;
		padding: 20px 26px 19px 26px;
		border-right: 1px solid #eaeaea;
		border-left: 1px solid #eaeaea;
	}

	.header-text {
		float: left;
		height: 60px;
		display: block;
		font-size: 14px;
		font-weight: 700;
		line-height: 20px;
		padding: 20px 20px 19px 20px;
		text-transform: uppercase;
	}
}

.menu {
	width: 200px;
	bottom: 0;
	float: left;
	left: 0;
	z-index: 999;
	position: fixed;
	top: 60px;
	margin-left: 0;
	background-color: #f5f5f5;
	transition: margin .4s ease 0s;
	border-right: 1px solid #eaeaea;

	.menu-user {
		font-weight: 700;
		text-align: center;
		padding: 30px 15px;
		background: #fff;
		border-bottom: 1px solid #eaeaea;
	}

	> ul {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {
			border-bottom: 1px solid #eaeaea;

			> a  {
				width: 100%;
				color: #6a6c6f;
				outline: none;
				font-size: 12px;
				display: inline-block;
				text-transform: uppercase;
				font-weight: 700;
				padding: 15px 15px;
				background-color: #f7f9fa;

				&:hover {
					background: #fff;
					text-decoration: none;
				}
			}
		}
	}
}


.wrapper {
	min-width: 1200px;
}

.content {
	top: 60px;
	margin-left: 230px;
	position: relative;
	padding: 15px 0 40px 0;
}

.ibox2 {
	padding: 15px;
	background: #fff;
	border: 1px solid #eaeaea;
}


.specialist {
	max-width: 1200px;

	td,
	th {
		&:last-child {
			width: 180px;
		}
	}
}

.clients {
	max-width: 100%;
	overflow-y: hidden;
	overflow-x: scroll;
	margin-bottom: 15px;
	border: 1px solid #ddd;

	.table {
		width: 100%;
		min-width: 1300px;
		margin-bottom: 0;

		td {

			&:nth-child(2) {

				a {
					min-width: 130px;
					display: inline-block;
				}
			}
		}
	}

	@media (min-width: 1600px) {
		overflow-y: auto;
		overflow-x: auto;
	}
}


.user-diagnosis {
	width: 20%;
}

.inner {
	max-width: 600px;
}

.box {
	padding: 25px 15px 15px 15px;
	margin-bottom: 25px;
	background: #f5f5f5;
	border: 1px solid #eaeaea;
	@include border-radius(3px);

	h3 {
		padding: 0;
		font-size: 20px;
		margin: 0 0 15px 0;
	}
}

.ibox {
	margin-bottom: 25px;
	border: 1px solid #eaeaea;

	&.ibox-white {

	}

	.ibox-toggle {
		cursor: pointer;
	}


	&.open {
		border: none;

		.ibox-tools {

			.fa-chevron-up {
				display: inline-block;
			}

			.fa-chevron-down {
				display: none;
			}
		}

		.table {

			tbody {

				> tr {
					display: table-row;
				}
			}
		}

		.ibox-title {
			margin-bottom: 15px;
			border-color: #18a689;
		}

		.ibox-content {
			display: block;
			padding-bottom: 20px;

			.schedule {
				padding-bottom: 25px;
				border-bottom: 3px solid #bbb;
			}
		}

	}

	.ibox-tools {
		float: right;
		color: #9d9fa2;

		a {
			color: #9d9fa2;
			cursor: pointer;
			margin-left: 5px;
			text-decoration: none;
			display: inline-block;

			&:hover {
				color: #1c242b;
			}
		}

		.fa-chevron-up {
			display: none;
		}

		.fa-chevron-down {
			display: inline-block;
		}
	}

	.ibox-content {
		display: none;
	}

	.table {
		margin-bottom: 0;

		th {

		}

		td {
			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}

		thead {
			border-bottom: none;

			th {
				padding-left: 0;
				padding-right: 0;
				border-bottom: none;
			}
		}

		tbody {

			> tr {
				display: none;

				&:first-child {
					display: table-row;
				}
			}
		}

	}

	.ibox-title {
		background: #fff;
		padding: 10px 15px;
		position: relative;
		border: 1px solid #fff;
	}
}


// Расписание

.schedule {
	max-width: 1100px;
}


.plan {
	overflow: hidden;
	position: relative;

	.plan-week {
		display: none;

		&.current {
			display: block;
		}

		.view-week {
			display: block;
		}

		.view-list {
			display: none;
		}
	}

	.plan-title {
		width: 180px;
		font-size: 18px;
		font-weight: 700;
		line-height: 20px;
		text-align: center;
		margin: 0 0 10px 0;
	}

	.plan-head {
		margin: 0;
		position: relative;

		.plan-nav {
			width: 180px;
			position: relative;

			a {
				top: 0;
				color: #000;
				padding: 1px 2px;
				font-size: 18px;
				line-height: 18px;
				position: absolute;
				display: inline-block;

				&.plan-prev {
					left: 0;
				}

				&.plan-next {
					right: 0;
				}
			}
		}

		.plan-switch {
			top: 0;
			right: 0;
			color: #000;
			position: absolute;
			text-decoration: underline;

			.plan-switch-week {
				display: none;
			}

			.plan-switch-list {
				display: inline;
			}

			&.switch {

				.plan-switch-week {
					display: inline;
				}

				.plan-switch-list {
					display: none;
				}
			}
		}
	}

	&.switch {

		.plan-week {

			.view-week {
				display: none;
			}

			.view-list {
				display: block;
			}
		}
	}
}

.week-table {
	width: 100%;
	background: #fff;

	td,
	th {

		font-size: 14px;
		line-height: 20px;
		border: 1px solid #ddd;

		&.date-current {
			background: #fff5a3;
		}
	}

	a {
		color: #000;
		width: 100%;
		height: 100%;
		padding: 5px 10px;
		display: inline-block;
		text-decoration: none;
	}

	td {
		text-align: center;
		position: relative;

		&.course {

			&:before {
				top: -1px;
				left: 0;
				right: -1px;
				bottom: -1px;
				z-index: 2;
				content: '';
				position: absolute;
				border-top: 1px solid green;
				border-bottom: 1px solid green;
			}

			&.first {

				&:before {
					left: -1px;
					border-left: 1px solid green;
				}
			}


			&.last{

				&:before {
					border-right: 1px solid green;
				}
			}
		}

		a {
			z-index: 10;
			position: relative;
			background: #dbdbdb;

			&.plan-success {
				background: #8bfd98;
			}


			&.plan-cancel {
				background: #ff4b4b;
			}

			&.plan-new {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				position: absolute;
				background: transparent;
				border: 1px solid transparent;

				&:hover {
					border-color: #f5f5f5;
					background: #f5f5f5;
				}
			}
		}

		.plan-weekend {
			color: #fff;
			width: 100%;
			height: 100%;
			padding: 5px;
			background: #676767;
			display: inline-block;
		}

		&:nth-child(9),
		&:nth-child(10) {
			background: #f5f5f5;
		}
	}

	.week-head {

		th {
			padding: 5px;
			text-align: center;

			span {
				display: block;
			}

			&:nth-child(9),
			&:nth-child(10) {
				background: #f5f5f5;
			}
		}
	}

	.week-content {

		th {
			font-weight: 400;
		}
	}
}

.list-table {
	width: 100%;
	background: #fff;

	tr {

		&.date-current {

			th {
				background: #929200;
			}

			td {
				background: #fff5a3;
			}
		}
	}

	.list-head {

		th {
			padding: 10px;
			overflow: hidden;
			position: relative;
			background: #cccccc;

			.week-day {
				float: left;
			}

			.week-date {
				float: right;
			}
		}
	}


	td,
	th {

		font-size: 14px;
		line-height: 20px;
		border: 1px solid #ddd;
		vertical-align: middle;
	}

	a {
		color: #000;
		width: 100%;
		height: 100%;
		padding: 5px 10px;
		display: inline-block;
		text-decoration: none;
	}

	.weekend {
		color: #000;
		width: 100%;
		height: 100%;
		padding: 10px;
		display: inline-block;
		text-decoration: none;
	}

	td {

		&:nth-child(2) {
			padding: 8px 10px;
			text-align: center;
		}

		a {

		}


	}

	.plan-status {
		background: #ccc;
		width: 100px;
		padding: 3px 10px;
		text-align: center;
		@include border-radius(10px);


		&.plan-success {
			background: #8bfd98;
		}


		&.plan-cancel {
			background: #ff4b4b;
		}

		&.plan-weekend {
			color: #fff;
			padding: 10px;
			background: #676767;
			display: inline-block;
		}
	}
}




// Modals

.modal-box {
	padding: 30px 50px;
	width: 420px;


	.modal-title {
		font-size: 18px;
		text-align: center;
		margin-bottom: 15px;

		span {
			display: block;
		}
	}

	.form-group-title {
		font-size: 15px;
		font-weight: 700;
		text-align: center;
		display: block;
		margin-bottom: 10px;
	}

	.form-label {
		font-weight: 400;
		display: inline-block;
	}

}

.fancybox-caption-wrap {
	display: none !important;
}

.xdsoft_datetimepicker {
	z-index: 99999 !important;
}


.form-sm {
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}

.top-bar {
	max-width: 600px;
	margin: 0 -10px 30px -10px;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: table;
		width: 100%;

		li {
			padding: 0 10px;
			display: table-cell;
			vertical-align: top;
		}
	}
}